<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Adoption</title>
  </head>
  <body>
    <h1>Your Puppy</h1>
    <p><%="Puppy Name:\n#{@puppy.name}"%>
    <p><%="Puppy Breed:\n#{@puppy.breed}"%>
    <p><%="Puppy Age:\n#{@puppy.age}"%>
  </body>
</html>
